<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.GameInfoMapper">
	<insert id="insertGameInfo">
		insert into GAMEINFORMATION(game_no,leagueName,homename,homescore,homeimage,awayname,awayscore, awayimage,round, stadium,matchdate,homewin,awaywin,season, matchtime, gamestatus)
		values((select nvl(max(game_no),0)+1 as game_no from GAMEINFORMATION), #{g_leagueName},#{homename}, #{homescore},#{homeimage},#{awayname}, #{awayscore}, #{awayimage}, #{round}, #{stadium}, #{matchdate}, #{homewin}, #{awaywin},#{g_season}, #{matchtime}, #{gamestatus})
	</insert>
	<delete id="deleteGameInfo" >
		delete from GAMEINFORMATION where season = #{g_season} AND leagueName = #{g_leagueName}
	</delete>
	<select id="searchLikeTeam" parameterType="String" resultType='String'>
		select DISTINCT(HOMENAME)
		FROM GAMEINFORMATION
		WHERE SEASON='20202021' AND LEAGUENAME=#{leagueName}
	</select> 
	<select id="searchScheduleTeam" parameterType="String" resultType="com.haechukgal.webapp.dto.ScheduleTeamNameDTO">
		select DISTINCT(HOMEIMAGE) as teamName
		FROM GAMEINFORMATION
		WHERE SEASON='20202021' AND LEAGUENAME=#{leagueName}
	</select> 
	<select id="searchMyTeam" parameterType="String" resultType="com.haechukgal.webapp.dto.MyTeamInfoDTO">
		SELECT *
		FROM (SELECT b.teamname, b.leaguename
		      FROM member a, star b
		      WHERE a.name=#{name} AND b.member_no = a.member_no) a , GAMEINFORMATION B
		WHERE (b.homename = a.teamname OR a.teamname = b.awayname) AND b.leaguename = a.leaguename AND b.season = '20202021'
		ORDER BY b.matchdate ASC
	</select>
	
	<select id="searchMyTeamIMG" parameterType="String" resultType="com.haechukgal.webapp.dto.MyTeamInfoDTO">
		SELECT DiSTINCT b.homename, b.homeimage
		FROM (SELECT b.teamname, b.leaguename 
      		  FROM member a, star b 
      		  WHERE a.name=#{name} AND b.member_no = a.member_no) a , GAMEINFORMATION B 
		WHERE b.homename = a.teamname AND b.leaguename = a.leaguename AND b.season = '20202021'
	</select>
	
	<select id="searchScheduleSeason" parameterType="com.haechukgal.webapp.dto.GameInfoDTO" resultType="com.haechukgal.webapp.dto.MyTeamInfoDTO">
		select *
		FROM GAMEINFORMATION
		WHERE SEASON=#{g_season} AND LEAGUENAME=#{g_leagueName} 
		ORDER BY MATCHDATE asc
	</select>
	
	<select id="searchScheduleMonth" parameterType="com.haechukgal.webapp.dto.GameInfoDTO" resultType="com.haechukgal.webapp.dto.MyTeamInfoDTO">
		select *
		FROM GAMEINFORMATION
		WHERE SEASON=#{g_season} AND LEAGUENAME=#{g_leagueName}  AND MATCHDATE LIKE #{matchdate} 
		ORDER BY MATCHDATE asc
	</select>
</mapper>