<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.MemberMapper">
	<insert id="insertMember">
		insert into Member(member_no, pw, name, email, regdate, role, enabled)
		values((select nvl(max(member_no),0)+1 as member_no from member),#{pw},#{name},#{email},sysdate,'ROLE_USER',1)
	</insert>
</mapper>