<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.TeamInfoMapper">
	<insert id="insertTeamInfo">
		insert into TEAMRANK(team_no, rank, teamName, teamImage, game, win, draw, loss, score, lossPoint, gapScore, point, season, leagueName)
		values((select nvl(max(team_no),0)+1 as team_no from TEAMRANK),  #{rank}, #{teamName}, #{teamImage}, #{game}, #{win}, #{draw}, #{loss}, #{score}, #{lossPoint}, #{gapScore}, #{point}, #{t_season}, #{t_leagueName})
	</insert>
	<delete id="deleteTeamInfo" >
		delete from TEAMRANK where season = #{t_season} AND leagueName = #{t_leagueName}
	</delete>
	<select id="searchTeamRank" parameterType="com.haechukgal.webapp.dto.TeamInfoDTO" resultType="com.haechukgal.webapp.dto.TeamInfoDTO">
		SELECT *
		FROM TEAMRANK
		WHERE leaguename=#{t_leagueName} AND season=#{t_season}
		ORDER BY rank ASC
	</select>
</mapper>